name: Supabase Keep Alive

on:
  schedule:

    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  ping-database:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Supabase URL
        run: curl -I https://ieeesb.unri.ac.id/